<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>

<body>

<%- include('./partials/nav.ejs')%>
    
    <div class="container center-align">
        <i class="large material-icons prefix">sentiment_dissatisfied</i>
        <h1>Opps!!!</h1>
        <p>404 - PAGE NOT FOUND</p>
        
</body>

</html>